{% extends "base.html" %}
{% load static %}
{% block content %}
<main>
    <hr>
    <div class="card">
        <div class="card-body">
            <div>Город : <span>{{ brigade }}</span></div>
            <div>Мастер: <span>{{ brigade.foreman }}</span> </div>
            <div>
                 Механник :
                {% for i in workers %}
                   <span>{{ i }};</span>
                {% endfor %}
                <div><a href="" id={{ brigade.id }} class="btn btn-primary brigade">Редактировать</a></div>

            </div>
        </div>
    </div>
    <hr>
    <h3>Редактировать</h3>
    {% include "Management_app\inc\BrigadForm.html" %}
    <hr>
    <button id= "{{ brigade.id }}" class="btn btn-primary delet_btn">Удалить бригаду</button>

</main>
{% endblock %}


{% block script  %}
<script src="{% static 'js/api.js' %}"></script>
{% endblock %}