{% extends "base.html" %}
{% load static %}
{% block content %}
<h3>Сотрудники</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Должность</th>
      <th scope="col">Сотрудник</th>
    </tr>
  </thead>
  <tbody>
   {% for worker in workers%}
    <tr>
      <th scope="row">{{ worker.id }}</th>
      <td>{{ worker.roles }}</td>
      <td><a href="{{ worker.get_absolute_url }}">{{ worker }}</a></td>
    </tr>
  {% endfor %}
   </tbody>
</table>

<h3>Бригады</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Город</th>
      <th scope="col">Бригадир</th>
   </tr>
  </thead>
  <tbody>
   {% for brigade in brigades %}
    <tr>
      <th scope="row"><a href="{{ brigade.get_absolute_url }}">{{ brigade.id }}</a></th>
      <td><a href="{{ brigade.get_absolute_url }}">{{ brigade.сiti }}</a></td>
      <td><a href="{{ brigade.get_absolute_url }}">{{ brigade.foreman }}</a></td>
    </tr>
  {% endfor %}
   </tbody>
</table>
{% endblock %}