{% load static %}
<div class="wraper-form">
    <form action="" method="POST" class="mb-3 col-6 formBrigage">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div id="wrapperInput">
        <div class="fieldWrapper mb-3">
            {{ form.subject.errors }}
            <label for="{{ form.citi.id_for_label }}">Город:</label>
            {{ form.citi }}
        </div>
        <div class="fieldWrapper mb-3">
        {{ form.message.errors }}
            <label for="{{ form.foreman.id_for_label }}">Мастер:</label>
            {{ form.foreman }}
        </div>
        <div class="fieldWrapper mb-3" id="fieldSelect">
            {{ form.sender.errors }}
            <label for="{{ form.mechanic.id_for_label }}">Механник</label>
            {{ form.mechanic }}
        </div>
        </div>
        <a href="" id="add_field" class="btn btn-primary">Добавить</a>
        <a href="" id="delete_field" class="btn btn-primary">Удалить</a>
        <button  type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>










