{% load static %}
<div class="wraper-form">
    <form action="" method="POST" class="mb-3 col-6 formBrigage" id="form_brigade">
<!--             {% csrf_token %}-->
<!--                {% for field in form %}-->
<!--                <div class="fieldWrapper mb-3">-->
<!--                    {{ field.errors }}-->
<!--                    {{ field.label_tag }} {{ field }}-->
<!--                </div>-->
<!--                {% endfor %}-->

                {% csrf_token %}
        {{ form.non_field_errors }}
        <div id="wrapperInput">
        <div class="fieldWrapper mb-3">
            {{ form.citi.errors }}
            <label for="{{ form.citi.id_for_label }}">Город:</label>
            {{ form.citi }}
        </div>
        <div class="fieldWrapper mb-3">
        {{ form.foreman.errors }}
            <label for="{{ form.foreman.id_for_label }}">Мастер:</label>
            {{ form.foreman }}
        </div>
        <div class="fieldWrapper mb-3" id="fieldSelect">
            {{ form.workers.errors }}
                <label for="{{ form.workers.id_for_label }}">Механник</label>
            {{ form.workers }}
        </div>
        </div>
        <a href="" id="add_field" class="btn btn-primary">Добавить</a>
        <a href="" id="delete_field" class="btn btn-primary">Удалить</a>
        <button  type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>










