{% load static %}
<div>
    <div>
        <h3>Пользователь: {{ user }}</h3>
    </div>
    <div class="hstack gap-3 nav justify-content-end">
        {% if user.is_authenticated %}
            <a href="{% url 'logout'%}">Выйти</a>
        {% else %}
            <a href="{% url 'login' %}">Войти</a>
            <div class="vr"></div>
            <a href="{% url 'register'%}">Зарегистрироватся</a>
        {% endif %}
    </div>
    <hr>
    <h5>{{ title }}</h5>
</div>
    <div class="wraper-headr">
        <div class="wraper-logo">
            <div class="image-logo">

            </div>
        </div>
        <div class="wraper-menu">
            <nav>
                <ul class="list-menu nav nav-tabs">
                    <li class="menu nav-item" ><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Главная</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'workers' %}">Регистрация сотрудников</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'brigades' %}">Регистрация бригады</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'request' %}">Рeгистрация объекта</a></li>
                </ul>
            </nav>
        </div>
    </div>   
