{% load static %}
    <div class="wraper-headr">
        <div class="wraper-logo">
            <div class="image-logo">

            </div>
        </div>
        <div class="wraper-menu">
            <nav>
                <ul class="list-menu nav nav-tabs">
                    <li class="menu nav-item" ><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Главная</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'workers' %}">Регистрация сотрудников</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'brigades' %}">Регистрация бригады</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'request' %}">Рeгистрация объекта</a></li>
                </ul>
            </nav>
        </div>
    </div>   
